header {
    background-color: skyblue;
    height: 9em;                    
    text-align: center;   
    border: solid; 
    border-radius: 1em;               
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 1em;
}
header a:hover{
    color: skyblue;
    cursor: pointer;
}
header h1{
    margin-top: 0.25em;
    font-size: 3em;
    text-decoration:underline;
    color: white;
}
body{
    background-color: skyblue;
    background-image: url(imagenes/pngtree-sky-blue-ink-style-background-image_926592.jpg);
    background-size: cover;          
    background-repeat: no-repeat;        
    height: 40em;     
    text-align: center;   
}
.cajas {
    margin-top: 3em;
    background-color: white;
    border: solid ;
    border-radius: 1em;
    width: 49%;
    height: 23em;
    display: inline-block;
}
#git{
    color: black;
}
#tit{
    font-weight: bold;
    font-style: italic;
}
footer{
    margin: 0%;
    background-color: black;
    color: white;
}
footer p{
    margin-top: 1em;
}